{% extends 'bootstrap/base.html' %} {% block navbar %} {% include 'navbar.html'
%} {% endblock %} {% import 'bootstrap/wtf.html' as wtf%} {% import 'macro.html'
as macro%} {% block content %}
<div class="container">
  <div class="row rel">
    <div class="">
      <div class="">
        <div class="">
          {{wtf.quick_form(pitch_form)}}
        </div>
        <div class="card">
          {{macro.displayPitches(pitches)}}
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}