{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% import
'macro.html' as macro %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h4>
        <a href="/user/{{pitch.user.username}}&{{pitch.user.id}}">{{pitch.user.username|capitalize}}</a>
      </h4>
      <p class="">{{ pitch.pitch_content }}</p>
      <hr>
      <p>{{ macro.displayComments(my_comments) }}</p>

      <div class="jumbotron" style="background-color: #840032; color: #F3DAD8;">
        {{wtf.quick_form(comment_form)}}
      </div>
      <div class="list-inline">
        <li class="list-inline-item"><a class="btn btn-primary" href="{{url_for('main.like',id=pitch.id)}}"><i
              class="fa fa-thumbs-up fa-2x"></i></a></li>
        <li class="list-inline-item">{{likes|length}}</li>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a class="btn btn-warning" href="{{url_for('main.dislike',id=pitch.id)}}"><i
              class="fa fa-thumbs-down fa-2x"></i> </a></li>
        <li class="list-inline-item">{{dislikes_no|length}}</li>
      </ul>
    </div>
    <hr />
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}