{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% import
'macro.html' as macro %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h4>
        <img src="{{url_for('static',filename = pitch.user.profile_pic_path)}}" alt="" class="img-thumbnail" style="vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;" />

        <a href="/user/{{pitch.user.username}}&{{pitch.user.id}}">{{pitch.user.username|capitalize}}</a>
      </h4>
      <p class="">{{ pitch.pitch_content }}</p>
      <hr>
      <p>{{ macro.displayComments(my_comments) }}</p>

      <div class="jumbotron" style="background-color: #840032; color: #F3DAD8;">
        {{wtf.quick_form(comment_form)}}
      </div>
    </div>
    <hr />
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}